<div style="margin-top: 25px">
  <mat-card class="message-card">
    <mat-card-title>Messages</mat-card-title>
    <mat-card-content>
      <div *ngFor="let message of messageService.messages">
        <div style="padding: 5px; margin: 5px; border: 1px solid white">
          {{ message }}
        </div>
      </div>
      <button
        mat-raised-button
        color="accent"
        style="margin-top: 20px"
        (click)="messageService.clear()"
      >
        Clear messages
      </button>
    </mat-card-content>
  </mat-card>
</div>
